{% extends "model-page.html" %}

{% block content %}
<div class="container_agenda">
	<header>
		<nav id="menu_agenda">
			<ul>
				<h2>Agenda - Scheduling</h2>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</nav>
	</header>
	<a href="event/">	
	<button type="button" class="btn_event">+ New Event</button>
	</a>	
	<div class="agenda_events">
		<ul style="font-size:18px">
			{% for evento in eventos %}
				<li>
					<div class="event_list" {% if evento.get_late_event %}
								style="color:red"
								{% endif %}>
						<div class="event_title">
							<b>{{ evento.title }}</b>
						</div>
						<div class="event_date">
							{{ evento.get_event_data }}
						</div> 
						 <a href="event/?id={{ evento.id }}"><button type="button" class="btn_update_delete" id="update">Update</button></a> 
						 <a href="event/delete/{{ evento.id }}/"><button type="button" class="btn_update_delete" id="delete">Delete</button></a> 
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
